.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: #6c757d;
}

.no-data h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.no-data p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
